@model ConstrutoraViverSA.App.Models.RelatorioModel
<div>
    <h2 class="text-center">Relatório de Orçamentos</h2><br />

    @if (Model.Orcamentos != null && Model.Orcamentos.Any())
    {
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <b>Id</b>
                </div>
                <div class="col-sm">
                    <b>Descrição</b>
                </div>
                <div class="col-lg">
                    <b>Endereço</b>
                </div>
                <div class="col-sm">
                    <b>Tipo de Obra</b>
                </div>
                <div class="col-sm">
                    <b>Valor</b>
                </div>
            </div>
            @foreach (var orcamento in Model.Orcamentos)
            {
                <div class="row">
                    <div class="col-sm">
                        @orcamento.Id
                    </div>
                    <div class="col-sm">
                        @orcamento.Descricao
                    </div>
                    <div class="col-sm">
                        @orcamento.Endereco
                    </div>
                    <div class="col-lg">
                        @orcamento.TipoObra
                    </div>
                    <div class="col-sm">
                        @orcamento.Valor
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="container">
            <br />
            <div class="alert alert-secondary" role="alert">
                <p>Não foi possível gerar seu relatório ou você não possui dados cadastrados!</p>
            </div>
        </div>
    }
    <br />
    <a type="button" asp-area="" asp-controller="Orcamentos" asp-action="Index" class="btn btn-outline-secondary btn-block">Voltar</a>
</div>
