@model FuncionarioModel

<div>
    <h2 class="text-center">Edição de Funcionários</h2>
    <form asp-controller="Funcionarios" asp-action="BuscarFuncionario">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Id</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="BuscaId">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @if (Model != null)
    {
        <form asp-controller="Funcionarios" asp-action="AlterarFuncionario" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Id</label>
                    <input type="text" class="form-control" name="Id" readonly value="@Model.Id"/>
                </div>
                <div class="form-group col-md-6">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="Nome" value="@Model.Nome" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Data de Nascimento</label>
                    <input type="datetime" class="form-control" name="DataNascimento" value="@Model.DataNascimento" />
                </div>
                <div class="form-group col-md-6">
                    <label>Gênero</label>
                    <select class="form-control" name="Genero">
                        <option value="0" selected="@Model.Genero == 0">Masculino</option>
                        <option value="1"selected="@Model.Genero == 1">Feminino</option>
                        <option value="2"selected="@Model.Genero == 2">Não binário</option>
                        <option value="3"selected="@Model.Genero == 3">Outro</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>CPF</label>
                    <input type="text" class="form-control" name="Cpf" value="@Model.Cpf" />
                </div>
                <div class="form-group col-md-6">
                    <label>Número CTPS</label>
                    <input type="text" class="form-control" name="NumCtps" value="@Model.NumCtps" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Endereço</label>
                    <input type="text" class="form-control" name="Endereco" value="@Model.Endereco" />
                </div>
                <div class="form-group col-md-6">
                    <label>E-mail</label>
                    <input type="text" class="form-control" name="Email" value="@Model.Email" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Telefone</label>
                    <input type="text" class="form-control" name="Telefone" value="@Model.Telefone" />
                </div>
                <div class="form-group col-md-6">
                    <label>Cargo</label>
                    <select class="form-control" name="Cargo">
                        <option value="0" selected="@Model.Cargo == 0">Sócio-proprietário</option>
                        <option value="1" selected="@Model.Cargo == 1">Recepcionista</option>
                        <option value="2" selected="@Model.Cargo == 2">Auxiliar de Suprimentos</option>
                        <option value="3" selected="@Model.Cargo == 3">Assistente de Suprimentos</option>
                        <option value="4" selected="@Model.Cargo == 4">Aualista de Suprimentos</option>
                        <option value="5" selected="@Model.Cargo == 5">Gerente de Suprimentos</option>
                        <option value="6" selected="@Model.Cargo == 6">Auxiliar de Recursos Humanos</option>
                        <option value="7" selected="@Model.Cargo == 7">Assistente de Recursos Humanos</option>
                        <option value="8" selected="@Model.Cargo == 8">Analista de Recursos Humanos</option>
                        <option value="9" selected="@Model.Cargo == 9">Gerente de Recursos Humanos</option>
                        <option value="10" selected="@Model.Cargo == 10">Técnico em Saúde e Segurança do Trabalho</option>
                        <option value="11" selected="@Model.Cargo == 11">Auxiliar Financeiro</option>
                        <option value="12" selected="@Model.Cargo == 12">Assistente Financeiro</option>
                        <option value="13" selected="@Model.Cargo == 13">Analista Financeiro</option>
                        <option value="14" selected="@Model.Cargo == 14">Gerente Financeiro</option>
                        <option value="15" selected="@Model.Cargo == 15">Almoxarife</option>
                        <option value="16" selected="@Model.Cargo == 16">Analista de Qualidade</option>
                        <option value="17" selected="@Model.Cargo == 17">Gerente de Qualidade</option>
                        <option value="18" selected="@Model.Cargo == 18">Menor Aprendiz</option>
                        <option value="19" selected="@Model.Cargo == 19">Estágiario</option>
                        <option value="20" selected="@Model.Cargo == 20">Engenheiro Cívil</option>
                        <option value="21" selected="@Model.Cargo == 21">Arquiteto</option>
                        <option value="22" selected="@Model.Cargo == 22">Técnico em Edificações</option>
                        <option value="23" selected="@Model.Cargo == 23">Diretor de Fábrica</option>
                        <option value="24" selected="@Model.Cargo == 24">Pedreiro</option>
                        <option value="25" selected="@Model.Cargo == 25">Pedreiro de Acabamento</option>
                        <option value="26" selected="@Model.Cargo == 26">Carpinteiro</option>
                        <option value="27" selected="@Model.Cargo == 27">Mestre de Obras</option>
                        <option value="28" selected="@Model.Cargo == 28">Servente</option>
                        <option value="29" selected="@Model.Cargo == 29">Armador</option>
                    </select>
                </div>
            </div>
    <br />
    <button type="submit" class="btn btn-outline-success btn-block">Editar</button>
    </form>
    <br />
    <form asp-controller="Funcionarios" asp-action="ExcluirFuncionario" method="post">
        <input type="hidden" name="IdExcluir" value="@Model.Id">
        <button type="submit" class="btn btn-outline-danger btn-block">Excluir</button>
    </form>
}
    <br />
    <a type="button" asp-area="" asp-controller="Funcionarios" asp-action="Index" class="btn btn-outline-secondary btn-block">Voltar</a>
    </div>